.ant-btn {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 32px;
  border-radius: 8px;

  .prefix {
    margin-right: 8px;
  }

  &:focus,
  &:active,
  &:hover {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    border: 1px solid transparent;
  }

  &.form-button {
    width: 32px;
    padding: 8px;
    border: none;
    color: var(--color-primary);
    box-shadow: none;
    position: relative;
    border: 1px solid var(--color-gray-600);

    &.button-filter {
      height: 40px;
      width: 120px;
      &:hover {
        border-color: var(--color-gray-600) !important;
      }
      &:active {
        border-color: var(--color-gray-600) !important;
      }
      &:focus {
        border-color: var(--color-gray-600) !important;
      }
    }
    &.button-reset {
      height: 40px;
      width: 100px;
      &:hover {
        border-color: var(--color-gray-600) !important;
      }
      &:active {
        border-color: var(--color-gray-600) !important;
      }
      &:focus {
        border-color: var(--color-gray-600) !important;
      }
    }
  }
}
